* {
	font-family: 'Poppins',
		sans-serif;
}

html {
	min-height: 100%;
	scroll-behavior: smooth;

}

#postalNo {
	text-align: center;
	padding: .5em;
	font-size: 1em;
	color: #303030;
	outline: none;
	border: none;
	border-radius: 6px 0px 0px 6px;
}

#postalBtn {
	font-size: 1em;
	background-color: white;
	color: #303030;
	text-align: center;
	outline: none;
	color: #404040;
	border: none;
	padding: 0 15px 0 15px;
}

#geolocation {
	padding: 1em 15px 1em 15px;
	background-color: white;
	color: #404040;
	text-align: center;
	outline: none;
	border: none;
	border-radius: 0px 4px 4px 0px;
}

h1 {
		font-family: 'Poppins',
		sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 32px;
	line-height: 40px;
	/* or 125% */
	text-align: center;

	color: #FFFFFF;
	padding: 2em 1.5em .8em 1.5em;
}

header {
	text-align: center;
}

.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	/* 	display: grid;
	grid-template-columns: repeat(7, 1fr);
	grid-template-rows: repeat(2, 1fr); */
	/* grid-template-columns: minmax(0, 1fr); What could this do? */
	/* 	grid-gap: 12px; */
	/* justify-content: stretch; */
}

.containerBtnInfo {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

form {
	display: flex;
	justify-content: space-around;
}

#today {
	justify-self: center;
	font-weight: bold;
}

#tomorrow {
	justify-self: center;
	font-weight: bold;
}

#todayPic {
	background-color: lightgreen;
}

#todayText {
	background-color: green;
}

#tomorrowPic {
	background-color: lightblue;
}

#tomorrowText {
	background-color: blue;
}


.umbrellaImg {
	width: 80px;
	height: 80px;
}

@media screen and (max-device-width: 640px) {
	body {
		background: linear-gradient(180deg, #78B9EB 17.72%, rgba(27, 97, 151, 0) 135.55%);
		background-repeat: no-repeat;
	}

	.footer {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding-top: 1em;
		padding-bottom: 2.5em;
	}

	h3 {
		margin-block-start: 0em;
	}

	.contact-form {
		color: #ffffff;
		font-size: 1.2em;
	}

	.logo {
		margin-top: 2em;
		height: 80px;
		width: 80px;
	}

	.container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		/* 		display: grid;
		grid-template-columns: repeat(8, 1fr);
		grid-template-rows: repeat(15, 1fr);
		grid-column-gap: 0px;
		grid-row-gap: 0px; */
	}

	form {

		/* grid-row: 1;
		display: flex;
		justify-content: space-around;
		grid-column: 1 / span 7; */

	}

	.dateAndPostalMessage {
		text-align: center;
		padding-bottom: 1.5em;
		font-weight: normal;
		font-family: 'Poppins',
			sans-serif;
		display: none;
	}

	/* Hidden */
	#today {
		display: none;
		/* 		grid-row: 20;
		grid-column: 4; */
		justify-self: center;
		font-weight: bold;

	}

	#tomorrow {
		display: none;
		/* 		grid-row: 45;
		grid-column: 4; */
		justify-self: center;
		/* font-weight: bold; */

	}

	#tomorrowPic {
		display: none;
		background-color: lightblue;
		/* 		grid-row: 35 / span 20;
		grid-column: 2 / span 2; */
	}

	#tomorrowText {
		display: none;
		background-color: blue;
		/* 		grid-row: 35 / span 20;
		grid-column: 5 / span 2; */
	}


	#todayPic {
		display: none;
		background-color: transparent;
		/* 		grid-row: 2 / span 8;
		grid-column: 1 / span 8; */
	}

	/* Hidden */
	.weatherImg {
		width: 398px;
		height: 176px;
	}

	#todayText {
		color: #FFFFFF;
		font-size: 1.4em;
		padding: 2em;
		background-color: transparent;
		text-align: center;
	}

	.umbrellaImg {
		width: 220px;
		height: 200px;
	}

	.umbrellaYesNo div {
		font-size: 1.5em;
	}

	.dropDown {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-rows: 1fr 1fr;
	}

	/* Karin's del */
	#infoBtn {
		border-radius: 5px;
		width: 12em;
		height: 2em;
		font-family: "Poppins", sans-serif;
		font-size: 1em;
		background-color: white;
		color: #303030;
		border: none;
		box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
		margin-top: 0em;
		margin-bottom: 1em;
	}

	#infoContainer {
		display: none;
		width: 80%;
		text-align: center;
		background: rgba(255, 255, 255, 0.5);
		border-radius: 4px;
		padding: 1.5em;
		margin-bottom: 2em;
	}

	/* Neda's del */
	.ruta {
		margin: auto;
		width: 100%;
		display: grid;
		grid-template-rows: 5em 1fr;
		grid-template-columns: 1fr 1em 1em 2em 1fr;
		font-family: ‘Poppins’, sans-serif;
		font-size: 1.2em;
		text-align: center;

	}

	.bild {
		grid-column: 1/6;
	}

	.right,
	.none {
		border-left: solid gray 1px;
		height: 80px;
	}

	.degrees {
		font-size: 50px;
	}

	.celcius {

		padding: 1px;
		font-size: 20px;

		font-family: ‘Poppins’, sans-serif;
	}

	img {
		width: 100%;
	}
}