* {
	font-family: 'Poppins',
		sans-serif;
}
html {
	height: 100%;
}
h1 {
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 32px;
	line-height: 40px;
	/* or 125% */
	text-align: center;

	color: #FFFFFF;
	padding: 1em 1.5em 0em 1.5em;
}

header {
	text-align: center;
}

.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	/* 	display: grid;
	grid-template-columns: repeat(7, 1fr);
	grid-template-rows: repeat(2, 1fr); */
	/* grid-template-columns: minmax(0, 1fr); What could this do? */
	/* 	grid-gap: 12px; */
	/* justify-content: stretch; */
}

form {
	display: flex;
	justify-content: space-around;
}

#today {
	justify-self: center;
	font-weight: bold;
}

#tomorrow {
	justify-self: center;
	font-weight: bold;
}

#todayPic {
	background-color: lightgreen;
}

#todayText {
	background-color: green;
}

#tomorrowPic {
	background-color: lightblue;
}

#tomorrowText {
	background-color: blue;
}


.umbrellaImg {
	width: 80px;
	height: 80px;
}

@media screen and (max-device-width: 640px) {
	body {
		background: linear-gradient(180deg, #78B9EB 17.72%, rgba(27, 97, 151, 0) 135.55%);
	}

	footer {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding: 1em;
	}

	h3 {
		margin-block-start: 0em;
	}

	.contact-form {
		color: #ffffff;
	}

	.logo {
		margin-top: 2em;
		height: 80px;
		width: 80px;
	}

	.container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		/* 		display: grid;
		grid-template-columns: repeat(8, 1fr);
		grid-template-rows: repeat(15, 1fr);
		grid-column-gap: 0px;
		grid-row-gap: 0px; */
	}

	form {

		/* grid-row: 1;
		display: flex;
		justify-content: space-around;
		grid-column: 1 / span 7; */

	}
	.dateAndPostalMessage {
		text-align: center;

	}

	/* Hidden */
	#today {
		display: none;
		/* 		grid-row: 20;
		grid-column: 4; */
		justify-self: center;
		font-weight: bold;

	}

	#tomorrow {
		display: none;
		/* 		grid-row: 45;
		grid-column: 4; */
		justify-self: center;
		/* font-weight: bold; */

	}

	#tomorrowPic {
		display: none;
		background-color: lightblue;
		/* 		grid-row: 35 / span 20;
		grid-column: 2 / span 2; */
	}

	#tomorrowText {
		display: none;
		background-color: blue;
		/* 		grid-row: 35 / span 20;
		grid-column: 5 / span 2; */
	}


	#todayPic {
		display: none;
		background-color: transparent;
		/* 		grid-row: 2 / span 8;
		grid-column: 1 / span 8; */
	}

	/* Hidden */
	.weatherImg {
		width: 398px;
		height: 176px;
	}

	#todayText {
		color: #FFFFFF;
		margin: 2em;
		background-color: transparent;
		text-align: center;
	}

	.umbrellaImg {
		width: 150px;
		height: 150px;
	}

}